POSTGRES_DB=b3_data_hub
POSTGRES_USER=b3_user
POSTGRES_PASSWORD=change_me

API_PORT=8080
API_REPLICAS=1
IMAGE_TAG=latest
B3_NETWORK_NAME=b3-data-hub_b3_data_hub
DB_MAX_CONNECTIONS=10
DB_MIN_CONNECTIONS=2
DB_MAX_CONN_LIFETIME=30m
DB_CONNECT_TIMEOUT=5s
